<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>St. John&apos;s Arms</string>
		<key>filename</key>
		<string>stJohnsArms.tmx</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Trash Can</string>
		<key>filename</key>
		<string>trashCan.tmx</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Question Mark</string>
		<key>filename</key>
		<string>questionMark.tmx</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Musical Note</string>
		<key>filename</key>
		<string>note.tmx</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Heart</string>
		<key>filename</key>
		<string>heart.tmx</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Emoticon</string>
		<key>filename</key>
		<string>emoticon.tmx</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Exclamation Mark</string>
		<key>filename</key>
		<string>exclamationMark.tmx</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bomb</string>
		<key>filename</key>
		<string>bomb.tmx</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Crescent Moon</string>
		<key>filename</key>
		<string>crescentMoon.png</string>
	</dict>
</array>
</plist>
