<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Test</string>
		<key>filename</key>
		<string>test.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>St. John&apos;s Arms</string>
		<key>filename</key>
		<string>stJohnsArms.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Trash Can</string>
		<key>filename</key>
		<string>trashCan.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Question Mark</string>
		<key>filename</key>
		<string>questionMark.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Musical Note</string>
		<key>filename</key>
		<string>note.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Heart</string>
		<key>filename</key>
		<string>heart.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Emoticon</string>
		<key>filename</key>
		<string>emoticon.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Exclamation Mark</string>
		<key>filename</key>
		<string>exclamationMark.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Bomb</string>
		<key>filename</key>
		<string>bomb.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Crescent Moon</string>
		<key>filename</key>
		<string>crescentMoon.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Ankh</string>
		<key>filename</key>
		<string>ankh.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Apple</string>
		<key>filename</key>
		<string>apple.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Castle</string>
		<key>filename</key>
		<string>castle.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Clock</string>
		<key>filename</key>
		<string>clock.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Floppy Disk</string>
		<key>filename</key>
		<string>floppyDisk.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>House</string>
		<key>filename</key>
		<string>house.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Insect</string>
		<key>filename</key>
		<string>insect.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Mushroom</string>
		<key>filename</key>
		<string>mushroom.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Padlock</string>
		<key>filename</key>
		<string>padlock.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Smiley</string>
		<key>filename</key>
		<string>smiley.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Electrical Outlet</string>
		<key>filename</key>
		<string>socket.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Stairs</string>
		<key>filename</key>
		<string>stairs.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Sword</string>
		<key>filename</key>
		<string>sword.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>TV</string>
		<key>filename</key>
		<string>tv.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Anchor</string>
		<key>filename</key>
		<string>anchor.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Gravestone</string>
		<key>filename</key>
		<string>gravestone.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Bell</string>
		<key>filename</key>
		<string>bell.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Document</string>
		<key>filename</key>
		<string>document.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Magnifying Glass</string>
		<key>filename</key>
		<string>magnifyingGlass.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Coffee</string>
		<key>filename</key>
		<string>coffee.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Spraypaint</string>
		<key>filename</key>
		<string>spraypaint.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Lucky Charm</string>
		<key>filename</key>
		<string>omamori.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Cherries</string>
		<key>filename</key>
		<string>cherries.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Left Arrow</string>
		<key>filename</key>
		<string>leftArrow.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Glass &amp; Bottle</string>
		<key>filename</key>
		<string>glassAndBottle.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Robot Head</string>
		<key>filename</key>
		<string>robotHead.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Candle</string>
		<key>filename</key>
		<string>candle.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Neko</string>
		<key>filename</key>
		<string>neko.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Die</string>
		<key>filename</key>
		<string>die.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Chicken</string>
		<key>filename</key>
		<string>chicken.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Hourglass</string>
		<key>filename</key>
		<string>hourglass.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Footprints</string>
		<key>filename</key>
		<string>footprints.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Cat</string>
		<key>filename</key>
		<string>cat.tmx</string>
	</dict>
</array>
</plist>
